#tooltip {
    position: absolute; /* DO NOT CHANGE */
    opacity: 0; /* DO NOT CHANGE */
  
    /* DIV */
    max-width: 200px;
    border: 1px solid #003e68;
    border-radius: 5px;
    background-color: #f0f9ff;
  
    /* TEXT */
    font-size: 13px;
    text-align: justify;
    color: #003e68;
    padding: 5px;
  }
